.bot-army {
  overflow-x: scroll;
  min-height: 300px;
  max-width: 100%;
}

.ui.grid > .row.bot-army-row {
  flex-wrap: nowrap;
  min-height: 100%;
  max-width: 100%
}

.ui.grid {
  padding: 0px 20px;
}

.vacant-container {
  position: relative;
  text-align: center;
  color: white;
}

.vacant-centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
